<div layout="row" layout-wrap>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" layout layout-align="center center">
     <h3>
        <span>@{{user}} - Select your repo to deploy.</span>
      </h3>
    </div>
  </md-toolbar>
  <div flex="25"></div>
  <div flex="50">
    <md-content flex class="md-whiteframe-z5" id="content">
      <md-list>
        <md-list-item ng-repeat="repo in repos">
          <md-button ng-disabled="disabled !== $index" ng-click="selectRepo(repo)">
            <h2><i class="octicon octicon-repo"></i> {{user}}/{{repo.name}}</h2>
          </md-button>
          <div layout="row" layout-align="end center">
            <md-switch ng-model="repo.sync" aria-label="Select Repo" ng-change="syncRepo($index, repo)" ng-true-value="'yup'" ng-false-value="'nope'"></md-switch>
            <md-progress-circular ng-show="displayLoading === $index" md-mode="indeterminate"></md-progress-circular>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
    <md-toolbar ng-show="!repos" class="md-warn">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">BOOM! No repos here, sorry!</h2>
      </div>
    </md-toolbar>
  </div>
  <div flex="25"></div>
</div>