<div layout="row" layout-wrap>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" layout layout-align="center center">
     <h3>
        <span>@{{user}} - Select your branches to deploy.</span>
      </h3>
    </div>
  </md-toolbar>
  <div flex="25"></div>
  <div flex="50" layout="row" layout-wrap class="md-whiteframe-z5" id="content">
    <div flex="25">
      <md-list>
        <md-list-item>
          <md-button ng-click="getBranches(repo.owner.login, repo.name)">
            <h3><i class="octicon octicon-git-branch"></i> Branches</h3>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
          <md-button ng-click="getPullRequests(repo.owner.login, repo.name)">
            <h3><i class="octicon octicon-git-pull-request"></i> Pull Requests</h3>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
    <div flex="75">
      <md-content layout-padding>
        <h2>{{user}}/{{repo.name}}</h2>
        <p>{{repo.description}}</p>

        <md-list ng-show="branches && !pullrequests">
          <md-list-item class="repo" ng-repeat="branch in branches">
            <div flex="100" layout="row">
              <div flex="33" flex-order="1">
                <h3><i class="octicon octicon-git-branch"></i> {{branch.name}}</h3>
              </div>
              <div flex="33" flex-order="2">
                <h3><i class="octicon octicon-circle-slash"></i> Stopped</h3>
              </div>
              <div flex="33" flex-order="3">
                <md-button ng-click="deploy()">
                  <i class="octicon octicon-rocket"></i> Deploy to Heroku
                </md-button>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>

        <md-list ng-show="pullrequests && !branches">
          <md-list-item class="repo" ng-repeat="pullrequest in pullrequests">
            <div flex="100" layout="row">
              <div flex="33" flex-order="1">
                <h3> <i class="octicon octicon-git-pull-request"></i> {{pullrequest.title}}</h3>
              </div>
              <div flex="33" flex-order="2">
                <h3><i class="octicon octicon-check"></i> {{pullrequest.state}}</h3>
              </div>
              <div flex="33" flex-order="3">
                <md-button ng-click="deploy()">
                  <i class="octicon octicon-rocket"></i> Deploy to Heroku
                </md-button>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
  <div flex="25"></div>