<div layout="row" layout-wrap>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" layout layout-align="center center">
     <h3>
        <span>Pagar.me Deploy Tool</span>
      </h3>
    </div>
  </md-toolbar>
  <div flex="25">
  </div>
  <div flex="50">

    <md-content layout-padding class="md-whiteframe-z5">
      <md-input-container>
        <!-- Use floating label instead of placeholder -->
        <label>GitHub Username</label>
        <input ng-model="user.username" type="text">
      </md-input-container>

      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button ng-click="getUserRepositories(user.username);" class="md-raised md-primary">Get Repositories</md-button>
      </section>
    </md-content>
  </div>
  <div flex="25">
  </div>
</div>
